WEB_APP_URL="https://app.yourdomain.com"
CORS_ORIGINS="http://localhost:5173"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USERNAME=wilsonnyaanga2@gmail.com
SMTP_PASSWORD=dlux qswd nten wdzg
SMTP_FROM_EMAIL=wilsonnyaanga2@gmail.com
SMTP_FROM_NAME=Revaltrix
STORAGE_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
STORAGE_REGION=auto
STORAGE_BUCKET=Revaltrix
STORAGE_ACCESS_KEY_ID=<b013e011a96c804c0a1c6e96ac187623>
STORAGE_SECRET_ACCESS_KEY=<8b3471ffdd6f26d3e01b381a80103b98bbba037e4fa95fbef4ea74474b3f5f7e>
STORAGE_FORCE_PATH_STYLE=false
DATABASE_URL="postgresql://neondb_owner:npg_Y7swFQDlSMW3@ep-noisy-dawn-b584kfu4-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"